@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
/*
* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

/*atual*/
/*
.title {
    position: fixed;
    top: 0;
    bottom: 20%;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    filter: drop-shadow(0 0 0.75rem);
    border-radius: 4px;
    Offset: 0px, 4px(rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.title h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -2.2%;
    color: #FFFFFF;
    margin: 0.5% 2%;
}

.title h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 100%;
    line-height: 2%;
    color: #FFFFFF;
    margin: 0.7% 2%;
}

.section {
    width: 100%;
    overflow-x: scroll;
}

.meal {
    margin-top: 7%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.meal h6 {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 1.8%;
    color: #333333;
}

.chooser {
    width: 50px;
    height: 200px;
    border-radius: 2%;
    color: #FFFFFF;
    filter: drop-shadow(0 0 0.75rem);
    Offset: 0, 0(rgba(0, 0, 0, 0.25));
    margin: 2% -1% 2% 2%;
    /*cima direita baixo esquerda*/
/*background-color: #FFFFFF;
}*/
/*
.main-course {
    display: flex;
    width: 100%;
}

.chooser img {
    width: 85%;
    height: 35%;
    border-radius: 5%;
    margin: 7%;
}

.chooser :nth-child(2) {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    color: #333333;
    margin-left: 5%;
}

.chooser :nth-child(3) {
    font-family: 'Roboto';
    font-style: light;
    font-size: 15px;
    line-height: 18px;
    Line-height: 100%;
    color: #A6A6A6;
    margin-left: 5%;
    margin-top: 5%;
}

.chooser :nth-child(4) {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    color: #000000;
    margin-left: 5%;
    margin-top: 15%;

}*/

@media (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #E5E5E5;
    }

    .title {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 92px;
        background-color: #CF2B2B;
        filter: drop-shadow(0 0 0.75rem);
        border-radius: 4px;
        Offset: 0px, 4px(rgba(0, 0, 0, 0.25));

    }

    .title h1 {
        font-family: 'Righteous';
        font-style: normal;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -2.2%;
        color: #FFFFFF;
        margin: 0.5% 2%;
    }

    .title h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 100%;
        line-height: 2%;
        color: #FFFFFF;
        margin: 4% 3%;
    }

    nav {
        overflow-x: scroll;
    }

    .meal {
        position: sticky;
        left: 2%;
        margin-top: 30%;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    .meal h6 {
        font-family: 'Righteous';
        font-style: normal;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 1.8%;
        color: #333333;
    }

    .main-course {
        display: flex;
    }

    .chooser {
        width: 172px;
        height: 180px;
        border-radius: 10px;
        /* color: #FFFFFF;*/
        filter: drop-shadow(0 0 0.25rem white);
        Offset: 0, 0(rgba(209, 203, 203, 0));
        margin-left: 5%;
        /*cima direita baixo esquerda*/
        background-color: #FFFFFF;
        fill: solid;
    }
   /*bordergreen*/
    .chooser {
        fill: solid;
        color: #FFFFFF;
        color: #32B72F;
        filter: drop-shadow(0 0 0.25rem green);
        border-radius: 10px;
        Offset: 0, 0 rgba(254, 255, 254, 0.973);
        box-shadow: 1px 1px 15px -6px, inset 0 0 0 5px #32B72F;
    }

    .image {
        margin: 1.5vw 2.5vw;
        width: 30vw;
        height: 18vw;
        border-radius: 2vw;
        object-fit: cover;
    }

    .chooser :nth-child(2) {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
    }

    .chooser :nth-child(3) {
        font-family: 'Roboto';
        font-style: light;
        font-size: 12px;
        letter-spacing: 1.8%;
        line-height: 18px;
        color: #A6A6A6;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
        margin-top: 5%;
    }

    .chooser :nth-child(4) {
        font-family: 'Roboto';
        Font-style: normal;
        Font-size: 14px;
        line-height: 19px;
        color: #000000;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
        margin-top: 5%;
    }

    .hidden {
        display: none;
    }

    .icon-check {
        width: 23px;
        height: 15px;
        border-radius: 50%;
        margin-left: 80%;
    }

    .icon {
        margin-left: 80%;
    }

    .drink {
        position: sticky;
        left: 2%;
        margin-top: 10%;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    .drink h6 {
        font-family: 'Righteous';
        font-style: normal;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 1.8%;
        color: #333333;
    }

    .dessert {
        position: sticky;
        left: 2%;
        margin-top: 10%;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    .dessert h6 {
        font-family: 'Righteous';
        font-style: normal;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 1.8%;
        color: #333333;
    }


}