@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
/*
* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

/*atual*/
/*
.title {
    position: fixed;
    top: 0;
    bottom: 20%;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    filter: drop-shadow(0 0 0.75rem);
    border-radius: 4px;
    Offset: 0px, 4px(rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.title h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -2.2%;
    color: #FFFFFF;
    margin: 0.5% 2%;
}

.title h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 100%;
    line-height: 2%;
    color: #FFFFFF;
    margin: 0.7% 2%;
}

.section {
    width: 100%;
    overflow-x: scroll;
}

.meal {
    margin-top: 7%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.meal h6 {
    font-family: 'Righteous';
    font-style: normal;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 1.8%;
    color: #333333;
}

.chooser {
    width: 50px;
    height: 200px;
    border-radius: 2%;
    color: #FFFFFF;
    filter: drop-shadow(0 0 0.75rem);
    Offset: 0, 0(rgba(0, 0, 0, 0.25));
    margin: 2% -1% 2% 2%;
    /*cima direita baixo esquerda*/
/*background-color: #FFFFFF;
}*/
/*
.main-course {
    display: flex;
    width: 100%;
}

.chooser img {
    width: 85%;
    height: 35%;
    border-radius: 5%;
    margin: 7%;
}

.chooser :nth-child(2) {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    color: #333333;
    margin-left: 5%;
}

.chooser :nth-child(3) {
    font-family: 'Roboto';
    font-style: light;
    font-size: 15px;
    line-height: 18px;
    Line-height: 100%;
    color: #A6A6A6;
    margin-left: 5%;
    margin-top: 5%;
}

.chooser :nth-child(4) {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    color: #000000;
    margin-left: 5%;
    margin-top: 15%;

}*/

@media (max-width: 414px) {
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #E5E5E5;
    }

    section {
        margin-bottom: 30%;
    }

    .title {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 92px;
        background-color: #CF2B2B;
        filter: drop-shadow(0 0 0.75rem);
        border-radius: 4px;
        Offset: 0px, 4px(rgba(0, 0, 0, 0.25));
        overflow-x: hidden !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .title h1 {
        height: 50px;
        font-family: 'Righteous';
        font-style: normal;
        font-size: 55px;
        color: #FFFFFF;
        letter-spacing: -1.2%;
        padding-left: 2%;
    }

    .title h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 26.5px;
        color: #FFFFFF;
        padding-left: 2%;
    }

    nav {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .meal {
        position: sticky;
        left: 2%;
        margin-top: 30%;
        margin-left: 4.8%;
        margin-bottom: 3%;
    }



    .main-course {
        display: flex;
    }

    .chooser {
        width: 172px;
        height: 180px;
        border-radius: 10px;
        box-shadow: #FFFFFF;
        filter: drop-shadow(0 0 0.95 white);
        Offset: 0, 0(rgba(209, 203, 203, 0.986));
        margin-left: 5%;
        /*cima direita baixo esquerda*/
        background-color: #FFFFFF;
        fill: solid;
        position: relative;
    }

    /*bordergreen*/
    .borderGreen {
        fill: solid;
        color: #32B72F;
        filter: drop-shadow(0 0 0.45rem green);
        border-radius: 10px;
        Offset: 0, 0 rgba(254, 255, 254, 0.973);
        box-shadow: 1px 1px 15px -6px, inset 0 0 0 5px #32B72F;
    }

    .image {
        margin: 1.5vw 2.5vw;
        width: 30vw;
        height: 18vw;
        border-radius: 2vw;
        object-fit: cover;
    }

    .chooser :nth-child(2) {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
    }

    .chooser :nth-child(3) {
        font-family: 'Roboto';
        font-style: light;
        font-size: 12px;
        letter-spacing: 1.8%;
        line-height: 18px;
        color: #A6A6A6;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
        margin-top: 5%;
    }

    .chooser :nth-child(4) {
        width: 50%;
        font-family: 'Roboto';
        Font-style: normal;
        Font-size: 14px;
        line-height: 19px;
        color: #000000;
        align-self: flex-start;
        vertical-align: top;
        margin-left: 5%;
        margin-top: 5%;
    }

    .hidden {
        display: none;
    }

    .icon-check {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        bottom: 5%;
        left: 80%;
    }

    .drink h6,
    .dessert h6,
    .meal h6 {
        font-family: 'Righteous';
        font-style: normal;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 1.8%;
        color: #333333;
    }

    .dessert,
    .drink {
        position: sticky;
        left: 2%;
        margin-top: 10%;
        margin-left: 4.8%;
        margin-bottom: 5%;
    }

    .baseboard {
        width: 100%;
        height: 80px;
        border-radius: 4px;
        filter: drop-shadow(rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
    }

    .border {
        width: 88%;
        height: 60px;
        background-color: #a6a6a6;
        border-radius: 30px;
        font-family: 'Roboto';
        font-size: 20px;
        vertical-align: top;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .changeColor {
        background: #32B72F;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}